<div class="sidebar-module">
<h4><a href="/events">Events</a></h4>
<ul>

{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% for event in site.categories.event reversed %}


{% capture eventtime %}{{ event.date | date: '%s'}}{% endcapture %}
{% if eventtime > nowunix %}
	<li style="list-style-type:none">
		{{event.guest}} &mdash;
		{% assign d = event.date | date: "%-d" %}
		{% assign m = event.date | date: "%B" %}

		{% case m %} 
			{% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
			{% when 'September' %}Sept. 
			{% else %}{{ event.date | date: "%b" }}.
			{% endcase %} 
		{% case d %}
			{% when '1' or '21' or '31' %}{{ d }}st
			{% when '2' or '22' %}{{ d }}nd
			{% when '3' or '23' %}{{ d }}rd
			{% else %}{{ d }}th 
		{% endcase %}
		<br />
		<a href="{{event.url}}">{{event.title}}</a>
	</li>
{% endif %}
{% endfor %}
</ul>
</div>
