<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I'm a Senior System Administrator living in London, England</p>
    <p>If you're interested in hiring me, take a look at my <a href="http://registry.jsonresume.org/briggsl">resume</a>
    <p>If you want to see what I've learned, take a look at my <a href="https://github.com/jaxxstorm/jaxxstorm.github.io/wiki">wiki</a>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
