<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" width="200" alt="logo"/>
    {% endif %}
  </a>
  <h2>{{ site.data.theme.name }}</h2>

  <div id="sidebar-module">
  {% include pages.html %}
  {% include events.html %}
  {% include team.html %}
  </div>

  <div id="social">
    {% include social.html %}
  </div>
</nav>
